In [6]:
import pandas as pd
df=pd.read_csv("bollywood.csv")
df

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224
...,...,...,...,...,...,...,...,...,...,...
144,145,27-Feb-15,Dum Laga Ke Haisha,N,Comedy,15,30.00,3250917,8185,615
145,146,13-Mar-15,NH10,N,Thriller,13,32.10,5592977,15464,1513
146,147,20-Mar-15,Dilliwali Zaalim Girlfriend,N,Comedy,32,12.00,2316047,4289,807
147,148,20-Mar-15,Hunterrr,N,Comedy,5,11.89,4674795,3706,762
148,149,23-May-14,Kochadaiiyaan,HS,Action,150,120.00,4740727,13466,2649

In [17]:
import numpy as np

In [11]:
dg=df["MovieName"]
dg.count()

149

In [42]:
dh=df[["Genre"]].value_counts()
dh

KeyError: "None of [Index(['Genre,'], dtype='object')] are in the [columns]"

In [37]:
df[["Genre"]].value_counts().max()

36

In [35]:
df.loc[df["BoxOfficeCollection"]>=86]

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.0,8576361,26622,2527
12,13,27-Jun-14,Ek Villain,HS,Romance,35,105.5,4518748,13558,1094
14,15,8-Aug-14,Entertainment,N,Comedy,60,163.0,6336058,20472,2843
16,17,25-Jan-13,Race 2,LW,Thriller,60,162.0,7641333,12617,2138
25,26,8-Feb-13,Special 26,N,Drama,42,103.0,1829417,6248,568
26,27,24-Oct-14,Happy New Year,LW,Drama,125,383.0,6395202,37585,10269
36,37,6-Jun-14,Holiday,HS,Action,50,129.0,6841635,14182,1997
37,38,11-Jul-14,Humpty Sharma Ki Dulhania,N,Romance,20,130.0,6604595,14535,2208
41,42,24-Jan-14,Jai Ho,N,Action,120,111.0,868743,2783,404
43,44,25-Jul-14,Kick,N,Action,100,377.0,18986221,101275,10066
54,55,29-Mar-13,Himmatwala,N,Action,50,100.0,2501277,1,1
58,59,5-Sep-14,Mary Kom,N,Drama,15,104.0,6086811,26560,1647
64,65,26-Apr-13,Aashiqui 2,N,Romance,12,110.0,2926673,4944,628
78,79,15-Aug-14,Singham Returns,LW,Action,90,200.0,8287587,20011,2899
82,83,31-May-13,Yeh Jawaani Hai Deewani,N,Romance,70,311.0,5123217,13826,1640
89,90,19-Dec-14,PK,HS,Drama,85,735.0,13270623,43767,5693
90,91,21-Jun-13,Raanjhanaa,N,Romance,35,100.0,5470632,12413,1018
92,93,2-Oct-14,Bang Bang,FS,Action,140,340.0,15889811,61805,6283
101,102,12-Jul-13,Bhaag Milkha Bhaag,N,Drama,30,164.0,2635390,4622,456
115,116,9-Aug-13,Chennai Express,FS,Comedy,75,395.0,1882346,7954,1593
119,120,1-Nov-13,Krrish 3,FS,Action,115,300.0,23171067,72070,11888
132,133,13-Sep-13,Grand Masti,LW,Comedy,35,298.0,1795640,3015,721
138,139,23-Jan-15,Baby,N,Action,60,125.0,7968156,29246,2426
148,149,23-May-14,Kochadaiiyaan,HS,Action,150,120.0,4740727,13466,2649

In [54]:
df.groupby(["ReleaseTime"]).groups

{'FS': [23, 31, 40, 62, 92, 106, 115, 116, 119, 121, 122, 125, 126, 127, 128, 142, 143], 'HS': [5, 12, 17, 19, 29, 32, 36, 39, 48, 49, 55, 60, 67, 85, 89, 99, 133, 148], 'LW': [0, 8, 16, 26, 52, 59, 61, 78, 80, 83, 96, 114, 130, 131, 132], 'N': [1, 2, 3, 4, 6, 7, 9, 10, 11, 13, 14, 15, 18, 20, 21, 22, 24, 25, 27, 28, 30, 33, 34, 35, 37, 38, 41, 42, 43, 44, 45, 46, 47, 50, 51, 53, 54, 56, 57, 58, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 82, 84, 86, 87, 88, 90, 91, 93, 94, 95, 97, 98, 100, 101, 102, 103, 104, 105, 107, 108, 109, 110, 111, 112, 113, 117, 118, 120, 123, 124, 129, 134, 135, 136, 137, 138, 139, 140, 141, 144, 145, 146, 147]}

In [3]:
x=df["Release Date"].value_counts()

In [7]:
y=pd.Series(x)
y

9-May-14     5
18-Jul-14    3
15-Mar-13    3
28-Mar-14    3
18-Jan-13    3
            ..
19-Apr-13    1
5-Sep-14     1
5-Apr-13     1
22-Aug-14    1
10-May-13    1
Name: Release Date, Length: 102, dtype: int64